<form method="post" action="/Announcement/Send">
    <div class="container">
        <div class="row p-1">
            <div class="col-1">Title</div>
            <div class="col-5"><input type="text" name="Title" class="form-control" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Content</div>
            <div class="col-5"><input type="text" class="form-control w-100" name="Content" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="submit" class="btn btn-primary" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
</form>