@model ThemeDatabase.TblStudent

@{
    ViewData["Title"] = "Delete Student";
}

<div class="card card-danger">
    <div class="card-header"><h3 class="card-title">Confirm Deletion</h3></div>
    <div class="card-body">
        <h3>Are you sure you want to delete this student?</h3>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StudentNo)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.StudentNo)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.StudentName)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.StudentName)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="StudentId"/>
            <input type="submit" value="Delete" class="btn btn-danger"/>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>